@charset "utf-8";
/* herder start */
/* div容器边距设置为0 解决浏览器不兼容问题*/
*{margin: 0;padding: 0;} 
/* 清除ul，li中的style */
ul,li{list-style: none;}
body{font-size: 12px;font-family: "microsoft yahei";}
/* 清除a标签中的默认下划线效果 */
a{text-decoration: none;}
#header{width: 100%;height: 40px;background: #424242;;min-width: 1226px;}
/* auto自动居中 */
#h_main{width: 1226px;height: 40px; background: #424242;;margin: 0 auto;}
/* float: left;左浮动，该div标签排列在左边 */
#h_main .h_m_left{
/* line-height设置此div容器中的行高使字体居中于容器 */
width: 700px; height: 40px; background: #424242;; float: left;line-height: 40px;}
#h_main .h_m_right{width: 300px; height: 40px; background: #424242; float: right;}
#h_main .h_m_left li{float: left;}
#h_main .h_m_left li a{color: #b0b0b0;}
/* margin设置外边距 垂直0 水平9px opacity设置透明度*/
#h_main .h_m_left li span{color: #B0B0B0; opacity: 0.1; margin: 0 9px;}
/* hover伪类事件，当鼠标移动到对应元素显示设置效果 */
#h_main .h_m_left li a:hover{color: #fff;}
#h_main .h_m_right .h_m_r_login{width: 90;height: 40px; background: #424242; line-height: 40px; float: left;}

#h_main .h_m_right .h_m_r_login a{color: #b0b0b0;margin: 0 9px;}
#h_main .h_m_right .h_m_r_login a:hover{color: #fff;}
#h_main .h_m_right .h_m_r_login span{color: #B0B0B0;opacity: 0.1;}
#h_main .h_m_right .h_m_r_message{width: 70px; height: 40px; background: #424242; line-height: 40px; float: left;}
#h_main .h_m_right .h_m_r_message a{color: #b0b0b0; margin: 0 9px;}
#h_main .h_m_right .h_m_r_message a:hover{color: #fff;}
/* line-height设置行高和容器同步使字体在容器居中 text-align 设置容器中字节水平居中 */
#h_main .h_m_right .h_m_r_ordericon{
width: 140px;height: 40px; background: #B0B0B0; float: left;line-height: 40px; text-align: center;
	/* position定位绑定到该div容器上 cursor:pointer鼠标移动上去变成小手指默认是箭头 z-index: 10 将元素层级设置为最高*/
position: relative;cursor: pointer; z-index: 10;
	}

#h_main .h_m_right .h_m_r_ordericon .h_m_r_ordericon_hide{
	/* box-shadow设置盒子偏移阴影特性  position定位*/
	width: 300px;height: 98px; background: #fff; box-shadow: 0 2px 2px rgba(0,0,100,0.2); position: 	absolute;
	/* top距离上边边距，right距离右边定位div容器边距为0 display:none默认隐藏 */
	top: 40; right: 0px; line-height: 100px;cursor: default; display: none;
}
#h_main .h_m_right .h_m_r_ordericon:hover{background: #fff;}
#h_main .h_m_right .h_m_r_ordericon:hover .iconfont{color: #f60;}
#h_main .h_m_right .h_m_r_ordericon:hover .car{color: #f60;}
/* header end */

/* nav_wrep start */
/* margin 设置div直接边距 第一个值代表上下，第二个代表自动水平调整 */
#nav_wrep{width: 100%;height: 100px;}
#nav{width: 1226px;height: 100px; margin: 0 auto;}
/* display:block将a标签元素升级为可显示元素 */
#nav .logo a{width: 55px;height: 55px; display: block; background:url(../img/mi.png) #f60 center; float: left;margin-top: 22px;}
/* margin-left距离左边div盒子距200px  line-height设置行高*/
#nav_main{width: 630px; height: 55px;float: left; margin-left: 200px;line-height: 55px;margin-top: 22px;}
#nav_main li{float: left;color: #333;font-size: 16px;line-height: 55px;color: #333;}
/* padding 给a元素增加内边距,实现点击感应范围增大效果 */
#nav_main li a{padding: 15px 8px;color: #333;}
#nav_main li a:hover{color: #f60;}
#nav_search{width: 300px;height: 55px;float: right; margin-right: 3px;margin-top: 22px;}
/* 添加鼠标感知 */
#nav_search:hover #n_s_input input{border-color: #bbb;}
#nav_search:hover #n_s_findall{border-color: #bbb;}
/* 当输入框获得焦点时，改变它的背景色：*/
#nav_search.focus #n_s_input input{border-color: #f60;}
#nav_search.focus #n_s_findall{border-color: #f60;}
#n_s_input{width: 245px;height: 55px; float: left; position: relative;}
/* border添加边框 1px宽度 border-right=0右边框为0 text-indent设置文本缩进*/
/* transition 在0.3s内进行颜色过渡 outline去掉边框默认特效*/
#n_s_input input{width: 244px; height: 53px; outline: none; border: 1px solid #e0e0e0;border-right: 0px; 
text-indent: 10px; font-size: 12px; font-family: "microsoft yahei"; transition: 0.2s;}
/* cursor:pointer鼠标移动到上面出现小手 */
#n_s_findall{width: 53px;height: 53px; outline: none; float: left; border: 1px solid #e0e0e0; text-align: center;line-height: 53px;
cursor: pointer; transition: 0.2s;}
#n_s_findall:hover{border : 1px none #f60; width: 55px; height: 55px; background: #f60; color: #fff;}
#n_s_findall:hover .iconfont{color: #fff;}
#n_s_findall .iconfont{color: #616161; font-size: 24px;}
/* nav_wrep end */

/* n_w_product start */
/* position对该div相对于父级n_s_input进行定位 top 0 left 0*/
#n_s_input .n_s_hide{width: 244px; height: 300px;background: #fff;border: 1px solid #f60; border-top: none; position: relative;
z-index: 9;
position: absolute;top: 55px;left: 0px; display: none;}
#n_s_input .n_s_hide li{height: 30px;line-height: 30px;}
#n_s_input .n_s_hide li:hover{background: #eee;}
/* padding-left 距离左边16像素 */
#n_s_input .n_s_hide li a{padding-left: 16px; display: block; color: #333;}
#n_s_input .n_s_hide li a span{padding-right: 16px;float: right; display: block; color: #bbb;}
#n_w_product{width: 100%; height: 230px; border-top: 1px solid #ddd; position: relative;background: #fff; position: relative; z-index: 9; box-shadow: 0 2px 2px rgba(0,0,100,0.1); display: none;}
/* margin 这个简写属性设置一个元素所有外边距的宽度，或者设置各边上外边距的宽度。 */
#n_w_product .n_w_p_list{width: 1226px;height: 230px; margin: 0 auto; position: relative;
z-index: 9; background: #fff;}
#n_w_product .n_w_p_list ul{margin: 0 auto; width: 1226px; height: 230px; position: absolute;
display: none; background: #fff;}
/*padding 设置li元素内边距 上下28px 左右21px*/
/* relative生成相对定位的元素，相对于其正常位置进行定位因此"left:20" 会向元素的 LEFT 位置添加20像素*/
#n_w_product .n_w_p_list li{float: left;padding: 35px 21px; position: relative;}
/* display:block 此元素生成块元素 换行 独占一行 */
#n_w_product .n_w_p_list li a{display: block;}
/* text-align设置文本对齐方式 ul列表，li列表项 margin-top设置元素的上外边距*/
#n_w_product .n_w_p_list li .p_price{text-align: center; color: #f60; margin-top: 6px;}
#n_w_product .n_w_p_list li .p_title{text-align: center; color: #000000; margin-top: 16px;}
/* absolute生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。 */
#n_w_product .n_w_p_list li .p_bor{width: 0px; height: 100px; border-left: 1px solid #ddd;
position: absolute; top: 0px;right: 0px; top: 40px;}
/* n_w_product end */

/* banner start */
#banner{width: 1226px; height: 460px; background: #55A532; margin: 0px auto; position: relative;
z-index: 8;}
#banner #b_main{width: 1226px; height: 460px;}
#b_main .b_m_pic{width: 1226px; height: 460px; position: relative;}
/* 给div容器中的图片设置自动适应div容器大小 */
#b_main .b_m_pic img{width:100%; height:auto;}
#b_main .b_m_pic li{position: absolute;top: 0;left: 0; display: none;}
/* no-repeat背景图像将仅显示一次。cursor: pointer 光标呈现为指示链接的指针（一只手） */
#b_main .b_m_btn div{width: 41px; height: 69px; background: url(../img/banner/btn/btn.png) no-repeat; position: absolute;top: 50%;
margin-top: 50%; margin-top: -34px; cursor: pointer;}
/* border-radius 给div元素添加圆角的边框 background-position 属性设置背景图像的起始位置。*/
#b_main .b_m_btn .b_m_b_left {left: 235px; border-radius: 0 2px 2px 0; background-position: -84px 0px;}
#b_main .b_m_btn .b_m_b_right {right: 0; border-radius: 2px 0 0 2px; background-position: -121px 0px;}
#b_main .b_m_btn .b_m_b_left:hover{background-position: 0px 0px;}
#b_main .b_m_btn .b_m_b_right:hover{background-position: -42px 0px;}
#b_main .b_m_tab {width: 100px; height: 10px; position: absolute; right: 30px; bottom: 30px; } 
#b_main .b_m_tab li{width: 6px; height: 6px; background: rgba(0,0,0,.4); border-radius: 50%;
border: 2px solid hsla(0,0%,100%,.3); float: left; margin: 0 4px; cursor: pointer;}
#b_main .b_m_tab li:hover,#b_main .b_m_tab li.click{background: hsla(0,0%,100%,.3); 
border-color: rgba(0,0,0,.4);}

/* b_nav start */
/* 通过position根据父级进行定位显示 padding内边距 */
#b_nav{width: 235px; height: 420px; background: rgba(105,101,101,.6);
position: absolute;top: 0;left: 0; padding: 20px 0;}
#b_nav>ul>li{height: 42px; line-height: 42px;}
#b_nav ul li ul{width: 250px; height: 447px; padding: 6px 0px;}
/* display:block 将此级元素设置为块元素实现鼠标放上去作用面积增大 */
#b_nav>ul>li>a{color: #fff; font-size: 14px; display: block; padding-left: 30px;}
/* margin-right 右边距 margin 简写属性在一个声明中设置所有外边距属性*/
#b_nav>ul>li>a>span{float: right; margin-right: 24px;}
/* > 值类选择器 只作用于长子 */
#b_nav>ul>li:hover{background: #f60;}
#b_nav ul li ul{float: left;}
#b_nav .b_n_hide{width: 500px; height: 459px; background: #fff; position: absolute; top: 0; left: 235px;
border-top: 1px solid #e0e0e0; box-shadow: 0px 2px 10px rgba(0,0,100,0.2); display: none;}
/* line-height设置行高和li高度相同使元素居中 */
#b_nav .b_n_hide li{height: 74px; line-height: 74px;}
#b_nav .b_n_hide .b_n_h_img img{float: left; padding-top: 17px; padding-bottom: 17px; padding-left: 25px;}
#b_nav .b_n_hide .b_n_h_img span{float: left; font-size: 14px; color: #333; transition: .3s;
padding-right: 70px; padding-left: 15px;}	
#b_nav .b_n_hide .b_n_h_img:hover span{color: #f60;}
/* b_nav end */
/* banner end */

